.item {
    margin: 1rem 0;
  }
  
  .image {
    width: 50%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
    padding: 0.5rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }

  
  .actions button:hover,
  .actions button:active {
    background-color: #120f10;
  }

  .dropbtn {
    font: inherit;
    cursor: pointer;
    color: rgb(15, 16, 15);
    border: 1px solid rgb(16, 16, 16);
    background-color: transparent;
    padding: 0.5rem 2.5rem;
    border-radius: 4px;
    margin: 2px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    margin-bottom: 63px;
    font-weight: 500;
  }
  
  .dropdowncontent {
    display: none;
    position: absolute;
  }
  
  .dropdowncontent a {
    color: black;
    padding: 19px 19px;
    text-decoration: none;
    display: block;
  }
  
  .dropdowncontent a:hover {background-color: rgb(252, 216, 216);}
  
  .dropdown:hover .dropdowncontent {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color:  rgb(238, 252, 244);} */



  